/*
Written from scratch by the Team 3189 Media Department aka Reese Whitehead.
Copyright 2016 Team 3189. All Rights Reserved.
*/

/* ---------- Body ---------- */
body {
	background-image: url("/img/background.png");
	background-color: #161616;
}

.body-wrapper {
	width: 900px;
	margin: auto;
}

::selection {
	background: #2C7D23;
}

::-moz-selection {
	background: #2C7D23;
}

/* ---------- Top Banner ---------- */

.banner-bar {
	margin-top: 10px;
	margin-bottom: 20px;
	overflow: auto;
	height: 125px;
#	background-color: #000000;
}

.banner-bar img {
	float: left;
	margin-right: 20px;
}

.banner-textbox {
	height: 105px;
	text-decoration: none;
}

.banner h1 {
	font-family: 'Orbitron', sans-serif;
	font-weight: 500;
	font-size: 62px;
#	font-style: italic;
	color: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
	text-decoration: none;
}

a.banner {
	text-decoration: none;
}

.banner h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 21px;
	font-style: italic;
	color: #fff;
	margin-top: 6px;
	margin-bottom: 6px;
	text-align: left;
}

.banner h3 {
	margin: 0px;
	font-family: Verdana, sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	color: #fff;
}

/* ---------- Navigation Bar ---------- */

ul {
    list-style-type: none;
    margin-top: -10px;
	margin-bottom: 15px;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    margin-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 10px;
	padding-left: 10px;
    text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400px;
	font-size: 18px;
	line-height: 26px;
}

li img {
	margin-top: 3px;
	padding-bottom: 4px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.8);
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.dropdown-content a {
    color: #fff;
    padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
    text-decoration: none;
    display: block;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400px;
	font-size: 15px;
}

.dropdown-content a:hover {background-color: rgba(51, 51, 51, 0.4);}

.dropdown:hover .dropdown-content {
    display: block;
}

#about {
	min-width: 87px;
}

#departments {
	min-width: 132px;
}

#gallery {
	min-width: 107px;
}

/* -------- Full-Width Container -------- */

.full-width {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 7px;
	margin-top: 0px;
	margin-bottom: 10px;
	overflow: hidden;
	white-space: wrap;
	
}

/* -------- Main Text Styling -------- */

.full-width h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 22px;
	color: #fff;
	margin: 0px;
	text-align: center;
}

.full-width h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 19px;
	color: #fff;
	margin-top: 15px;
	margin: 0px;
	text-align: left;
}

.full-width h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.full-width p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14.9px;
	color: #fff;
	margin-bottom: 5px;
	margin-top: 0px;
#	text-align: justify;
	display: inline-block;
}

.full-width p#bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14.9px;
	color: #fff;
	margin-bottom: 5px;
	margin-top: 0px;
	text-align: left;
	margin-right: 5px;
}

/* -------- Accessories -------- */

hr.plain{
	background-color: #fff;
	color: #fff;
	border: none;
	height: 1px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/* -------- Footer -------- */

.footer {
	background-color: rgba(0, 0, 0, 0.7);
	clear: both;
	margin-top: 10px;
	width: 900px;
}

.footer h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 12px;
#	font-style: italic;
	color: #fff;
	margin: 0px;
	padding: 5px;
	display: inline-block;
}

.footer h4 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 12px;
#	font-style: italic;
	color: #fff;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 273px;
	margin-right: 0px;
	padding: 5px;
	display: inline-block;
}

.footer a {
	text-decoration: none;
	color: #fff;
	border-bottom: thin dotted #fff;
	transition: all 0.5s ease 0s;
}

.footer a:hover {
	color: #fff;
	border-bottom: thin dotted grey;
}